html {
	box-sizing: border-box;
}
body {
	background-position: center;
	background-image: url(../img/background.jpg);
	background-attachment:fixed;
	background-size: cover;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
  	color: #62686f;
}
h1 , h2 , h3, h4 , h5 , h6 {
	color: #333;
	font-weight: 300;
}
* , *:before,*:after {
	box-sizing: inherit;
}
.container {
	margin: 0 auto;
	width: 960px;
}

.main-header__avatar {
	display: block;
	margin: 0 auto;
	margin-top: -170px;
	border: 3px solid white;
	width: 25%;

	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}
/******************header********************/
.header {
	margin: 170px auto;
	margin-bottom: 0px;
	padding: 1px;
	width: 960px;
	background-image: url(../img/banner.jpg);
	background-size:cover;
}
.header p {
	margin-top: 50px;
	margin-bottom: 50px;
}

.header_text {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 38%;
	/* font-weight: 300; */
	font-size: 50px;
	/* font-family: 'Open Sans','helvetica',arial,sans-serif; */
	color: white;
	text-shadow:0 1px rgba(0,0,0,0.3);
}

/*********************nav*********************/
.main-nav {
	background-color: #333;
}
.main-nav ul li {
	margin: 15px 10px;
}

.main-nav ul li a {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav ul li a:hover {
	text-decoration: underline;
}
ul.nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.inline-items li {
	display: inline-block;
}

.main-nav ul {
	text-align: center;
}
/****************section******************/
.info-section {
	padding: 30px 60;
	margin-top: 0px;
	background-color: #fff;
}
.whatido__skill--list {
	overflow: hidden;
}
.whatido__skill {
	margin-top: 40px;
	float: left;
	width: 33.3%;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 108px;
}
.whatido__skill  h3,p {
	text-align: center;
}

h2.has_split_line:after {
	margin: 20px auto;
	content: "";
	display: block;
	width: 90px;
	border-bottom: 3px solid black;
	/*clear: both;*/

}

.whatido__skill--code {
	background-image: url(../img/skill-code.png);
}
.whatido__skill--design {
	background-image: url(../img/skill-design.png);
}
.whatido__skill--product {
	background-image: url(../img/skill-product.png);
}

.info-section header {
	text-align: center;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section__description {
  font-style: italic;
}

.education-experience__list li {
	overflow: hidden;
}
.education-experience__item img {
	float: left;
	margin-top: 20px;
	margin-right: 60px;
	width: 180px;
}
ul.photos__list {
	overflow: hidden;
}
.photos__list li {
	width: 25%;
	margin: 0px;
	padding: 0px;
	float: left;

}
.photos__list img{
/*float: left;*/
	padding: 10px;
	width: 100%;
}
